.wallpaper {
  object-fit: fill;
  background-image: url("../../assets/puzzle.jpeg");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.Row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

.Column {
  display: table-cell;
}
