<div class="wallpaper">

  <div class="Row" style="text-align: center;">
    <div class="Column"><img src="./../../assets/EA2.jpg" style="width: 80%;cursor: pointer;" (click)="open(0)" /></div>
    <div class="Column"><img src="./../../assets/EA1.jpg" style="width: 80%;cursor: pointer;" (click)="open(1)" /></div>
    <div class="Column"><img src="./../../assets/EA3.jpg" style="width: 80%;cursor: pointer;" (click)="open(2)" /></div>
  </div>



  <div style="width: 100%;">
    <div style="width: 40%; height: 100px; float: left;margin-left: 5%;">
      <div>This charter has been found among other artifacts of unknown origin. The text, written on organic papers,
        speaks of a society and the ways of its inhabitants. It seems like each page is marked by illustrations that
        have been added to at multiple stages of the artifact's lifetime. In fact, having discerned the timing of these
        drawings, it seems they were done over a significant period of time, by multiple individuals. This can be seen
        through the differences in art style, form, and collaborative spirit within each doodle.
      </div>
      <div>It is difficult to understand the depth of what this article would have meant to these people. If it was
        meant to stand as a tool to teach or to pen down the history of this world. However, the writer(s) speak(s) of
        the importance and even essentiality of the content. They include the idea that these were the </div>
    </div>
    <div style="margin-left: 50%; height: 100px; margin-right: 5%;">
      <div>basis for the moral values and general consensus of the society. Thus, in line with what we feel are key
        terms in the text, we may infer that these excerpts are the "Essential Agreements" of this society. Working as a
        loose and transformative description of agreed-upon values the community holds.</div>
      <div>Each line reads like poetry, drenched in metaphor and intrinsically intertwined with nature. How close to the
        earth must these people be? How devoted to their way of life in peace and harmony they seem.</div>
      <div>There is no doubt that this artifact is significant. Its wear and tear even suggests that it has been hung
        outside for public access. It is peculiar in its form, yet beautiful in the collective spirit, the sensitivity,
        and the freedom it espouses for each and every inhabitant.</div>
    </div>
  </div>

</div>
