.wallpaper {
  object-fit: fill;
  background-image: url("../../assets/background.jpg");
  background-size:auto;
  height: 100%;
  width: 100%;
  background-repeat: repeat-y;
}

.Row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

.Column {
  display: table-cell;
}

img {
    border: solid 5px transparent;
}
img:hover {
    border-color: green;
}
