<div style="background-color: white; margin: 0px !important">
  <div class="container">
    <div class="content1">
      <img src="assets/Swimmin.jpg" alt="Imagee" />
    </div>

    <div class="content2">
      <br><br>
      <p style="font-size: large;">
        Upon discovering what appears to be a poster on swimming lessons, we get a deeper insight into what the inhabitants’
         everyday activities consist of and what visuals surround their public spaces.
          Using this poster as an example, we may observe that communal recreational activities play a significant role in the lives of the inhabitants,
           which seem educational and inclusive in nature. If we analyze the text on the poster, we do not see any discernible mentions of rigid timings,
            age, gender, or skill level. This not only reveals how their notions of time are slightly different from our world but also discloses how these activities serve the purpose of bringing people together;
             to celebrate and promote health and intimate bonds between the inhabitants of the community, be it people or nature.
      </p>
      <br><br>
      <p style="font-size: large;"> Simple design of the poster indicates that it has been possibly drawn by any member of the community and not an artist specifically.
      It has a homemade quality to it and the repeated use of organic paper,
       across these artefacts alludes to how mediums are produced and used in this world.
        The imagery and complementary text are playful in nature where we see members of the community jumping into a ravine surrounded by trees and wildlife;
          the people jumping into the water are wearing red presumably for safety purposes and the poster indicates that everybody must respect the wildlife present, including the “new deer family’’. The writing in the poster unravels a unanimous understanding of respect for the environment; an openness and level of security and comfort with each other, as well as within their own skin. All members of the community are equal and welcomed to participate, without any fear of judgement. 
        </p>
      </div>
  </div>
</div>
