html, body {
  height: 80%;
  margin: 0;
}

.full-height {
  height: 95%;
  overflow: hidden;
}

.image-map-container {
  position: relative;
  display: inline-block;
}

.image-map-container img {
  display: block;
}

.image-map-container .map-selector {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #546E7A00;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: top, left, right, bottom, color;
  transition-property: top, left, right, bottom, color;
}

.image-map-container .map-selector.hover {
  color: #546E7A80;
}

.map-selector:after {
  content: '';
  position: absolute;
  background: currentColor;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  background: currentColor;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: top, left, right, bottom, background;
  transition-property: top, left, right, bottom, background;
  pointer-events: none;
}

.backgroundImage {
  background-image: url("../../assets/TaizLarkiyan.png");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

.id1 {
  position: absolute;
  top: 12%;
  left: 23%;
  height: 26%;
  width: 18%;
}

.id1:hover {
  border: 6px solid #06273f;
  border-radius: 8px;
}

.tooltip1 {
  position: relative;
  display: inline-block;
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
  opacity: 1;
}

.id2 {
  position: absolute;
  top: 47%;
  left: -3%;
  height: 28%;
  width: 14%;
}

.id2:hover {
  border: 6px solid #06273f;
  border-radius: 8px;
}

.tooltip2 {
  position: relative;
  display: inline-block;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip2 .tooltiptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip2:hover .tooltiptext2 {
  visibility: visible;
  opacity: 1;
}

.id3 {
  position: absolute;
  top: 38%;
  left: 29%;
  height: 29%;
  width: 16%;
}

.id3:hover {
  border: 6px solid 06273f;
  border-radius: 8px;
}

.tooltip3 {
  position: relative;
  display: inline-block;
}

.tooltip3 .tooltiptext3 {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip3 .tooltiptext3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip3:hover .tooltiptext3 {
  visibility: visible;
  opacity: 1;
}

.id4 {
  position: absolute;
  top: 70%;
  left: 26%;
  height: 29%;
  width: 16%;
}

.id4:hover {
  border: 6px solid #06273f;
  border-radius: 8px;
}

.tooltip4 {
  position: relative;
  display: inline-block;
}

.tooltip4 .tooltiptext4 {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip4 .tooltiptext4::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip4:hover .tooltiptext4 {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=home-page.component.css.map */