<div class="backgroundImage">
  <div class="id1 tooltip1">
    <span class="tooltiptext1"
      >Tooltip1 textTooltip1 textTooltip textTooltip text</span
    >
  </div>
  <div class="id2 tooltip2">
    <span class="tooltiptext2"
      >Tooltip2 textTooltip2 textTooltip textTooltip text</span
    >
  </div>
  <div class="id3 tooltip3">
    <span class="tooltiptext3"
      >Tooltip3 textTooltip3 textTooltip textTooltip text</span
    >
  </div>
  <div class="id4 tooltip4">
    <span class="tooltiptext4"
      >Tooltip4 textTooltip4 textTooltip textTooltip text</span
    >
  </div>
</div>
