body {
  font-family: arial, sans-serif;
  font-weight: 400;
  background: #eee;
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bgimage {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 94vh;
  object-fit: fill;
}

.mapify-popOver strong {
  font-weight: 400;
  font-size: 24px;
  line-height: 1em;
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.mapify-popOver {
  color: #999;
  font-size: 16px;
  height: 130px;
}

.mapify-popOver-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.mapify-popOver.customPopOver {
  background: #09f;
}

/* Custom hovering style */
.mapify-hover {
  fill: rgba(0, 0, 0, 0.15);
  stroke: #fff;
  stroke-width: 2;
}

.customHover {
  fill: rgb(0, 153, 255);
  stroke: #fff;
  stroke-width: 2;
}
